:root {
    --light: rgb(209, 226, 215);
    --dark: rgb(23, 29, 24);
    --highlight: #0cb60c;
    --lowlight: #063f09;
}



html, body {
    margin: 0 auto;
    padding: 0;
    background: var(--light);
    align-content: center;
}

body {
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

header {
    background: var(--lowlight);   
    padding: .5em;
}

h1 {
    font-size: 2.3rem;
    color: var(--light)
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 3px var(--dark);
    margin: 0 auto;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background: var(--lowlight);
    border-radius: 15%;
}

.apple {
    background: linear-gradient(to top, rgb(204, 46, 34), rgb(3, 95, 3));
    border-radius: 36% 36% 41% 41% / 42% 42% 75% 75%;
}

button {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 15px;
    padding: .4em .6em .4em;
    background-color: var(--highlight);
    margin-top: 1em;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: var(--dark);
    color: var(--light)
}
